.icon {
  margin-left: 75%;
}

.heading {
  padding-left: 20px;
  font-size: larger;
  font-weight: bold;
  font-family: cursive;
  text-shadow: 5px 5px 8px black;
}

.logo {
  width: 6%;
}

#cake-content {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  align-items: flex-start;
}

#cake-detail {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
}

#cake-request {
  width: 35%;
  display: flex;
  padding-left: 10px;
  flex-direction: column;
}

.address mat-form-field {
  width: 48%;
  margin-right: 10px;
}
